.container{
  text-align: center;
}
.App-logo{
  border-radius: 5%;
  margin: 15px 0px 0px 0px;
}
 h1{
  color: #61DAFB;
}
.text{
  position: absolute;
  text-align: left;
  margin-left: 630px;
}
.profile-info{
  margin: 5px 0px;
}
.profile-info label,.profile-info strong{
  display: block;
}

